/* Responsive Grid */

body {
    margin: 0;
    font-family: Calibri, sans-serif;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 40px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Nav */

.nav {
    overflow: hidden;
    background-color: #6f6f6f;
    text-align: center;
}

.nav a {
    color: white;
    text-align: center;
    padding: 13px 20px;
    display: inline-block;
    border-style: solid;
    text-decoration: none;
    font-size: large;
    margin: 6px;
}

.nav a:hover {
    background-color: #565656;
}

.active {
    background-color: #565656;
}

/* Header */

.head {
    position: relative;
    text-align: center;
    color: white;
}

.headImg {
    width: 100%;
    height: 70%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text h1 {
    font-size: 4em;
}

.text h2 {
    font-size: x-large;
}

/* Card */

.cardImg {
    width: 100%;
}

.container {
    background-color: #efefef;
}

.cardText {
    padding: 0px 20px 20px 20px;
}

.button {
    text-align: center;
}

#cardOne h2 {
    color: green;
}

#cardOne button {
    background-color: green;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
}

#cardTwo h2 {
    color: blue;
}

#cardTwo button {
    background-color: blue;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
}

#cardThree h2 {
    color: red;
}

#cardThree button {
    background-color: red;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
}

/* Column Cards */

.column {
    padding: 0px 20px 20px 20px;
}

.column h2 {
    text-align: center;
    color: grey;
}

.column button {
    color: grey;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
    border-color: darkgrey;
    margin-left: 40%;
}

/* Media */

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    .nav a {
        color: white;
        text-align: center;
        padding: 10px;
        border-style: solid;
        text-decoration: none;
        font-family: Calibri, sans-serif;
    }
}